<!-- Button trigger modal -->
<button type="button" class="btn btn-custom-purple" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-top: 30px; margin-left: 30px">
  Ajouter un achat
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nouveau Produit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="cards">
          <div class="card-bodi">
            <div class="card-header">
              <span>Enregistrement d'un Produit</span>
            </div>
            <form >
              <div>
                <label></label>
                <input placeholder="Nom" type="text"   name="nom" required >
              </div>
              <div>
                <label></label>
                <input placeholder="Category" type="text" name="category" required>
              </div>
              <div>
                <label></label>
                <input placeholder="Price" type="text"  name="rice" required>
              </div>
              <button type="submit">Enregistrer</button>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">N°</th>
    <th scope="col">Date</th>
    <th scope="col">Currency</th>
    <th scope="col">Total</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let achat of achats; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ achat.date }}</td>
    <td>{{ achat.currency }}</td>
    <td>{{ achat.total }}</td>
    <td>
      <button class="btn btn-link text-primary" data-bs-toggle="modal" data-bs-target="#exampleModalEdit">
        <i class="fas fa-edit"></i>
      </button>
      <button class="btn btn-link text-danger">
        <i class="fas fa-trash-alt"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
